html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif; /* Mantenha a fonte padrão que você usa */

  /* A MÁGICA ACONTECE AQUI: */
  /* Isso desativa a barra de rolagem do navegador para a página inteira. */
  overflow: hidden;
}
/* You can add global styles to this file, and also import other style files */
